*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  background-color: steelblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 1px;
}

.centered {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
