@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #71999b;
  padding: 8rem;
  font-family: "Comfortaa", cursive;
}

.info {
  padding-top: 1rem;
  color: white;
}

.third_span {
  font-size: 1.2rem;
  padding-top: 1rem;
  letter-spacing: 1px;
  line-height: 1.6;
}
