@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #5b7444;
  font-family: "Comfortaa", cursive;
}

.game {
  margin: 0 auto;
  padding-top: 8rem;
  width: 50%;
  text-align: center;
}

.input_section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: black;
  border: none;
  background-color: #ffcc33;
  border-radius: 15px;
  padding: 12px 20px;
  transition: all 300ms ease-in-out;
  font-size: 18px;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.75);
}

input {
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 2.5rem;
  transition: 0.2s ease-in-out;
  background-color: #a3c586;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}

input:focus {
  outline: none;
}

.text {
  margin-top: 2rem;
  font-size: 1.6rem;
  border-bottom: 2px solid #ffcc33;
}
